<!--
    EXAMEN FINAL
    MODIFICAR LO NECESARIO PARA CUMPLIR CON LOS REQUERIMIENTOS
    SE TIENE UNA DESCRIPCION APROXIMADA DE LO QUE SE REQUIERE EN CADA FUNCION; SIN EMBARGO
    ES LIBRE DE UTILIZAR LOS METODOS Y PROCEDIMIENTOS QUE SEAN MAS COMODOS PARA USTED
    ÉXITOS! :)
-->

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

        <script>
            //PREGUNTA 1 IMPLEMENTACION DE LA FUNCION PARA MOSTRAR EL DETALLE DE LA TAREA
            /*
            En esta funcion se recomienda seguir los siguientes pasos
            -Al capturar el id de la tarea dentro de un string, desarrollar la funcion obtener_info_tarea en el server
            que permita capturar el id de la tarea y devoler un objeto JSON con dicha informacion
            -Realizar la funcion fetch correspondiente al interior de mostrarDetalle y captura la 
            informacion devuelta desde el servidor
            -Obtener los elementos HTML internos de la venta o crearlos utilizando javascript y anexar
            la informacion recibida en el objeto JSON
            -Las modificaciones realizadas en el codigo se mostraran de forma instantanea en la ventana
            */
           function mostrarDetalle(id_tarea)
           {
            console.log(id_tarea)
           }

           /*
           Para eliminar la informacion al interior de la ventana mostrar detalle capturar los elementos
           apropiados y eliminar los datos al interior de su propiedad innerHTML, recordar que para capturar
           los elementos lo puede realizar con la funcion querySelector, getElementByID, etc.
           No olvide darle las propiedades ID, name, class, etc ... a los elementos HTML para su correspondiente
           captura.
           */
           function eliminarDetalle()
           {
            console.log('Funcion para eliminar el HTML interior de la ventana')
           }

           //PREGUNTA 2-1
           /*
           La funcion nuevaTarea permite capturar la informacion al interior de la ventana modal
           Luego de capturar la informacion se debe enviar la informacion al servidor a traves
           de fetch y guardar la informacion enviada en el servidor
           Al recibir la confirmacion del servidor se debe eliminar la totalidad de informacion
           al interior de la venta
           No olvidar agregar los datos principales a la tabla con javascript, capturar la tabla y
           anexar los datos de la nueva tarea como una fila nueva
           Al infalizar el codigo recordar eliminar la informacion al interior de los inputs definidos
           */
           function nuevaTarea()
           {
            console.log('Crear nueva tarea')
            //Escribir su codigo aqui

            //Fin del codigo
            $(".modal-backdrop").remove();
            $('#nuevaTarea').hide()
           }

           /*
           Capturar los input de la ventana modal para nuevaTarea y eliminar el valor al interior de 
           dichos campos
           */
           function eliminarNuevo()
           {

           }

           //PREGUNTA 2-2
           /*
           Se recepciona el id de la tarea a eliminar
           Esta funcion debe enviar la informacion al servidor a traves de una instruccion fetch
           En el servidor se debe eliminar la tarea de la base de datos y enviar una confirmacion de vuelta
           a la vista
           La funcion fetch deberá de recibir dicha confirmacion y eliminará la tarea de la tabla
           */
           function eliminarTarea(id_tarea)
           {
            console.log(id_tarea)
           }

           //PREGUNTA 2-3
           /*
           Esta funcion recibe el id de la tarea correspondiente
           Con el id de la tarea obtener la informacion desde el servidor
           utilizando la funcion fetch
           Con la informacion capturada agregar dicha informacion a los inputs definidos en la vista modal
           Se recomienda crear un input con propiedad readonly en donde el id de la tarea sea mostrado,
           esto debido a que al presionar el boton Actualizar se deberá enviar la informacion al servidor a traves de un formulario
           y se requiere el id de la tarea para modificar sus parametros
           */
           function editarTarea(id_tarea)
           {
            console.log(id_tarea)
            //El codigo inicia aqui

            //Fin del codigo
           }

        </script>


    </head>
    <body>
        <div class="container">
            <br>
            <h1>Tareas del examen final</h1>
            <br>
            <div>
                <a class="btn btn-success float-start" style="color: white;" data-bs-toggle="modal" data-bs-target="#nuevaTarea">Nuevo<i class="fa fa-plus"></i></a>
                <a class="btn btn-success float-end" style="color: white;" href="{% url 'examenFinal:index' %}">Salir</a>
            </div>
            <br>
            <br>
            <table class="table table-bordered table-hover" style="font-size: 12px;">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Fecha de creacion</th>
                        <th scope="col">Fecha de entrega</th>
                        <th scope="col">Estado de la tarea</th>
                        <th scope="col">Ver detalle</th>
                        <th scope="col">Editar tarea</th>
                        <th scope="col">Eliminar tarea</th>
                    </tr>
                </thead>
                <tbody>
                {% for tarea in tareas_totales %}
                <tr>
                    <td scope="row">{{ tarea.fechaCreacion }}</td>
                    <td>{{ tarea.fechaEntrega }}</td>
                    <td>{{ tarea.estadoTarea }}</td>
                    <td style="text-align: center;"><a id="detalle{{ tarea.id }}" class="btn btn-info" style="color: black;" data-bs-toggle="modal" data-bs-target="#verDetalle" onclick="mostrarDetalle(this.id)"><i class="fa fa-eye"></i></a></td>
                    <td style="text-align: center;"><a id="editar{{ tarea.id }}" class="btn btn-warning" style="color: black;" data-bs-toggle="modal" data-bs-target="#editarTarea" onclick="editarTarea(this.id)"><i class="fa fa-edit"></i></a></td>
                    <td style="text-align: center;"><a id="eliminar{{ tarea.id }}" class="btn btn-danger" style="color: white;" onclick="eliminarTarea(this.id)"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>

<!--VENTANA MODAL NUEVA TAREA-->
<!--
    Crear los inputs necesarios para capturar la informacion para crear una nueva tarea
    Cada input debe contar con su respectivo id, name, class, etc ... para su captura en el codigo javascript
    Para esta actividad la tarea tiene Fecha de creacion, Fecha de entrega, Estado de tarea y Descripcion
    Recordar eliminar la informacion al interior de los input cuando la tarea haya sido guardada.
-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="nuevaTarea">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="eliminarNuevo()"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="eliminarNuevo()">Cancelar</button>
                <button type="submit" class="btn btn-primary" onclick="nuevaTarea()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!--VENTANA MODAL EDITAR TAREA-->
<!--
    Esta ventana debe cargar la informacion de la tarea correspondiente
    Desarrollar los inputs apropiados para mostrar dicha informacion y que sea editable
    El usuario luego de editar la informacion debe presionar el boton Actualizar y la informacion de los input
    se enviará hacia el servidor. Definir un formulario para esta vista, esta es la unica funcionalidad
    que permita el refresco de la vista
    No olvidar crear un input readonly para mostrar el id de la tarea y enviarla al servidor
-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="editarTarea">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>


<!--VENTANA MODAL MOSTRAR DETALLE-->
<!--
    REALIZAR LAS MODIFICACIONES NECESARIAS, POR EJEMPLO
    -COLOCAR LOS PARAMETROS name, id, class, ETC PARA LA CAPTURA DE LOS ELEMENTOS
    EN EL CODIGO JAVASCRIPT
    -SE PUEDE CREAR UNA ESTRUCTURA PREVIA Y LUEGO SOLO COMPLETAR LOS DATOS AL INTERIOR DEL CÓDIGO JAVASCRIPT
    -RECORDAR ELIMINAR LOS DATOS LUEGO DE CERRAR LA VENTANA UTILIZANDO LA FUNCION ASOCIADA A LOS BOTONES
    CERRAR Y CLOSE
-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" id="verDetalle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle de la tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="eliminarDetalle()"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="eliminarDetalle()">Cerrar</button>
            </div>
        </div>
    </div>
</div>